@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
@using System.Security.Claims
@using hospitalUtilities;

@{
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital</title>
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hospital.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.css">

    <!-- Include SweetAlert2 JS -->


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm
border-bottom box-shadow mb-3" style="background-color:mediumaquamarine;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-hospital"></i> Hospital
                </a>
          

                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Admin Dropdown --> 
                        
                        @if (userRole == WebSiteRoles.WebSite_SuperAdmin || userRole == WebSiteRoles.WebSite_Doctor)
                        {
                        <li class="nav-item dropdown bg-info">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                           
                                <div class="dropdown-menu bg-info" aria-labelledby="adminDropdown">
                                    <!-- Submenu Items -->
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Hospital" asp-action="Index">Hospitals</a>
                                    <a class ="dropdown-item" asp-area="Admin" asp-controller="Room" asp-action="Index">Rooms</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Contact" asp-action="Index">Contacts</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Role" asp-action="GetAllRoles">All Roles</a>
                                </div>
                                </li>
                            }






                            


                        @if(userRole == WebSiteRoles.WebSite_SuperAdmin || userRole == WebSiteRoles.WebSite_Doctor){
                            <!-- Reception Dropdown -->
{
                        <li class="nav-item dropdown bg-info">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="receptionDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reception
                            </a>
                            <div class="dropdown-menu bg-info" aria-labelledby="receptionDropdown">
                                        <a class="dropdown-item" asp-area="Patient" asp-controller="Patient" asp-action="Index">All Patients</a>
                                                <a class="dropdown-item" asp-area="Doctor" asp-controller="Daywork" asp-action="Index">Week Shifts</a>
                                <a class="dropdown-item" asp-area="Doctor" asp-controller="Daywork" asp-action="AllDayShifts">All Day Shifts</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="AppointmentVisit" asp-action="Index">Appointment Visits</a>
                                <a class="dropdown-item" asp-area="Patient" asp-controller="PatientHistory" asp-action="Index">Patient History</a>

                                        <a class="dropdown-item" asp-area="Patient" asp-controller="PatientHistory" asp-action="Index">Patient History</a>
                                        <a class="dropdown-item" asp-area="Doctor" asp-controller="TimingShifts" asp-action="Index">Day Shifts</a>
                            </div>
                        </li>
                            }






                        @if  (userRole == WebSiteRoles.WebSite_SuperAdmin || userRole == WebSiteRoles.WebSite_Doctor){
                                <!-- Reception Dropdown -->
                                {
                                    <li class="nav-item dropdown bg-info">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="receptionDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MangDoctor
                            </a>
                            <div class="dropdown-menu bg-info" aria-labelledby="receptionDropdown">

                                            <a class="dropdown-item" asp-area="Doctor" asp-controller="Doctor" asp-action="Index">  Doctors</a>
                                            <a class="dropdown-item" asp-area="Doctor" asp-controller="Doctor" asp-action="GetRegisterDoctors">Register Doctors</a>
                            /a>
                     
                            </div>
                        </li>}
                            }
                        <!-- Doctors Dropdown -->
                        <li class="nav-item dropdown bg-info">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="doctorDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Doctors Works
                            </a>
                            <div class="dropdown-menu bg-info" aria-labelledby="doctorDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="AppointmentVisit" asp-action="GetAllVisitsByDoctorId">All Visits by Doctor</a>
                                <a class="dropdown-item" asp-area="Doctor" asp-controller="PatientReport" asp-action="Index">All Prescriptions</a>
                            </div>
                        </li>
                            }                
                            
                            @if(userRole == WebSiteRoles.WebSite_SuperAdmin || userRole == WebSiteRoles.WebSite_patient)
                            {
                                <!-- Patient Dropdown -->
                                <li class="nav-item dropdown bg-info">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="patientDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Patient
                                    </a>
                                    <div class="dropdown-menu bg-info" aria-labelledby="patientDropdown">
                                    <a class="dropdown-item" asp-area="Patient" asp-controller="PatientHistory" asp-action="GetAllPatientHistory">All Patient History</a>

                                        <a class="dropdown-item" asp-area="Admin" asp-controller="AppointmentVisit" asp-action="GetAllVisitsByPatientId">All Visits by Patient</a>
                                        <a class="dropdown-item" asp-area="Doctor" asp-controller="PatientReport" asp-action="GetAllPatientReportsByPatientId">Patient Reports</a>
                                    </div>
                                </li>
                            }
                            </ul>


                </div>
                <partial name="_LoginPartial" />

            </div>
        </nav>

    </header>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Hospital - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

