@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add/Editeols Rols";
}


@*

*@
<style>
    body {
        background-image: url('/Images/hospital.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
@model hospitalVm.RoleVM

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add/Edit Roles";
}

<form id="saveform">
    <div class="form-group">
        <label asp-for="Name" class="control-label"> Inter Role :</label>
        <input asp-for="Name" id="name" class="form-control"style=" width:300px" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input asp-for="Id" class="form-control" id="Roleid" type="hidden" />
    <br/>
    <div>
        <button type="button" id="savedata" class="btn btn-primary">
            @if (Model != null )
            {
                <text>Edit</text>
            }
            else
            {
                <text>Add New</text>
            }
        </button>

        <a asp-controller="Role" asp-action="Index" class="btn btn-primary">
            Back
        </a>
    </div>
</form>
@section Scripts{
<script src="~/js/rolesave.js"></script>


<!-- Include SweetAlert2 library -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}