@using Dataaccesslayer;











@{
    ViewData["Title"] = "Edit Shift";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination

@model hospitalVm.PatientVm












@{
    ViewData["Title"] = "Register Doctor";
}
<h1>@ViewData["Title"]</h1>
<link href="~/css/docsave.css" rel="stylesheet" />

<partial name="_AlertMessage" model="Model" />
<div class="container mt-5 glass-container" style="width:80%; height:80%;">

    <form asp-action="Save" method="post" id="saveform" enctype="multipart/form-data">
               <input type="hidden" asp-for="id" />
       

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-row">

            <div class="form-group col-md-4">

                <input asp-for="Nationality" class="glass-input form-control" placeholder=" inter Nationality" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">

                <input asp-for="City" class="glass-input form-control" placeholder=" inter City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>



        </div>

        <div class="form-row">

            <div class="form-group col-md-4">

                <input asp-for="Email" class="glass-input form-control" placeholder=" inter Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">

                <input asp-for="  PostalCode" class="glass-input form-control" placeholder=" inter PostalCode" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>



        </div>



        <div class="form-row">
            <div class="form-group col-md-4">

                <input asp-for="username" class="glass-input form-control" placeholder=" inter Usename" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">

                <input asp-for="Phonenumber" class="glass-input form-control" placeholder="Inter Phonnumber" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4">

                <input asp-for="StreetAddress" class="glass-input form-control" placeholder=" inter Adress street" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">

                <input asp-for="Dateofbarth" class="glass-input form-control" placeholder=" inter date of Barth" />
                <span asp-validation-for="Dateofbarth" class="text-danger"></span>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4">

                <input asp-for="imgurlupdated" class="glass-input form-control" placeholder=" inter imge" />
                <span asp-validation-for="imgurlupdated" class="text-danger"></span>
            </div>
         
            <div class="col-md-4">

                <div class="form-group">

                    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()"
                            aria-required="true" class="glass-input form-control" placeholder="Gender">
                        <option value="">Choose gender</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>

                </div>
            </div>


        </div>

    






        <div class="row mt-8">
            <div class="form-group col-md-6">
                <button type="submit" id="savedata" class="btn btn-primary">Update</button>
            </div>
            <div class="form-group col-md-6 text-right">
                <a asp-controller="Admim" asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-chevron-circle-left"></i> Back to Index
                </a>
            </div>
        </div>



    </form>
</div>

