@model hospitalVm.HospitalVm

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination
@{
    ViewData["Title"] = "Save";
    Layout = "_Layout";
}
<link href="~/css/hosiptalsave.css" rel="stylesheet" />

<partial name="_AlertMessage" />

<div class="container mt-5 glass-container col-md-7">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1>Edit Hospital</h1>

            <form asp-action="Save" method="post" id="saveform">
                <input type="hidden" asp-for="id" />
               <div class="form-row glass-input">
    <div class="form-group glass-input col-5">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control"   />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group glass-input col-5">
        <label asp-for="City">City:</label>
        <input asp-for="City" class="form-control"   />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
</div>

<div class="form-row">
    <div class="form-group glass-input col-5">
        <label asp-for="Country">Country:</label>
        <input asp-for="Country" class="form-control"   />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <div class="form-group glass-input col-5">
        <label asp-for="Type">Type:</label>
        <input asp-for="Type" class ="form-control"   />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
</div>

<div class="form-group glass-input col-8">
    <label asp-for="Pincode">Pincode:</label>
    <input asp-for="Pincode" class="form-control" />
    <span asp-validation-for="Pincode" class="text-danger"></span>
</div>


                <div class="button-group col-12">
                    <button type="submit" class="btn btn-primary">
                        @if (Model != null && Model.id > 0)
                        {
                            <text>Edit</text>
                        }
                        else
                        {
                            <text>Add New</text>
                        }
                    </button>


                    <a asp-area="Admin" asp-controller="Hospitail" asp-action="Index" class="btn btn-secondary mt-2">
                        <i class="fas fa-chevron-circle-left"></i> Back to Index
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/hositalsave.js"></script>
}

