
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

@model hospitalVm.ContactVm


<h1>Contact Details</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">contacts</h5>
        <p class="card-text">
            <strong>Hospitalname:</strong> @Model.Hospitalname<br />
            <strong>phone:</strong> @Model.phone<br />
            <strong>Email:</strong> @Model.Email<br />
        </p>
        <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
    </div>
</div>
