
    @{
ViewData["Title"] = "Save";
Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination
<style>
body {
background-image: url('/Images/hospital17.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
</style>
@model hospitalVm.PatientHistoryVm
<link href="~/css/contacsave.css" rel="stylesheet" />

<partial name="_AlertMessage" />

<div class="container mt-5 glass-container col-md-7">
<div class="row justify-content-center">
<div class="col-md-12">
    <h1>Edit Patient History</h1>

<form id="saveform" asp-area="Patient" asp-controller="PatientHistory" method="post" >
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="PatientId" />

        <div class="form-row">


            <div class="form-group glass-input col-4">
                <label asp-for="PatientName">Patient Name:</label>
<input asp-for="PatientName" class="form-control" readonly />
</div>

<div class="form-group">
<label asp-for="VisitDate">Visit Date:</label>
<input asp-for="VisitDate" class="form-control" />
</div>
</div>
        <div class="form-row">

        <div class="form-group glass-input col-4">
            <label asp-for="ChiefComplaint">Chief Complaint:</label>
<input asp-for="ChiefComplaint" class="form-control" />
</div>

        <div class="form-group glass-input col-4">
            <label asp-for="HistoryOfPresentIllness">History Of Present Illness:</label>
<input asp-for="HistoryOfPresentIllness" class="form-control" />
</div>
</div>
        <div class="form-row">

        <div class="form-group glass-input col-4">
            <label asp-for="PastMedicalHistory">Past Medical History:</label>
<input asp-for="PastMedicalHistory" class="form-control" />
</div>

            <div class="form-group glass-input col-4">
                <label asp-for="FamilyHistory">Family History:</label>
<input asp-for="FamilyHistory" class="form-control" />
</div>
        </div>              
                
        <div class="form-row">


        <div class="form-group glass-input col-4">
            <label asp-for="PhysicalExamination">Physical Examination:</label>
<input asp-for="PhysicalExamination" class="form-control" />
</div>

        <div class="form-group glass-input col-4">
            <label asp-for="Assessment">Assessment:</label>
<input asp-for="Assessment" class="form-control" />
</div>
        </div>                <div class="form-row">


        <div class="form-group glass-input col-4">
            <label asp-for="Plan">Plan:</label>
<input asp-for="Plan" class="form-control" />
</div>

        <div class="form-group glass-input col-4">
            <label asp-for="Medications">Medications:</label>
<input asp-for="Medications" class="form-control" />
</div>
        </div>                <div class="form-row">


        <div class="form-group glass-input col-4">
            <label asp-for="Allergies">Allergies:</label>
<input asp-for="Allergies" class="form-control" />
</div>

        <div class="form-group glass-input col-4">
            <label asp-for="LabResults">Lab Results:</label>
<input asp-for="LabResults" class="form-control" />
</div>
                    



        </div>          
        
        
        
        
        
        
        
        
        
        <div class="form-row">




            <div class="form-group glass-input col-4">

<label asp-for="IsFollowUp">Is Follow Up:</label>
<input asp-for="IsFollowUp" type="checkbox"  />
</div>
  @*       <div class="form-group glass-input col-4">

<label asp-for="PatientId">patient</label>
<select asp-for="PatientId" class="form-control" asp-items="@ViewBag.allpatient">
<option value="">Select Patient </option>
@foreach (var item in ViewBag.allpatient)
{
    <option value="@item.Value" selected>@item.Text</option>
}
</select>
        </div> *@
                    <div class="form-group glass-input col-4">
                        <label asp-for="HistoryOfPresentIllness">Lab Results:</label>
                        <input asp-for="HistoryOfPresentIllness" class="form-control" />
                    </div>

        </div>
              
        <div class="button-group">
            <button type="submit" class="btn btn-primary">
                @if (Model != null && Model.Id > 0)
                {
                    <text>Edit</text>
                }
                else
                {
                    <text>addnew</text>
                }
            </button>

            <a asp-area="Patient" asp-controller="PatientHistory" asp-action="Index" id="Add">
                <i class="fas fa-plus-circle"></i> back
            </a>
        </div>
    </form>

</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
var saveForm = document.getElementById("saveform");
var saveButton = document.getElementById("savedata");

saveForm.addEventListener("submit", function (event) {
    event.preventDefault();

    Swal.fire({
        title: "Are you sure?",
        text: "You are about to update the patient's information.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, update it!",
        cancelButtonText: "No, cancel",
    }).then((result) => {
        if (result.isConfirmed) {
            // You can also add additional form validation here
            saveForm.submit();
        }
    });
});

// After form submission, show a success message if desired
var urlParams = new URLSearchParams(window.location.search);
var successParam = urlParams.get("success");
if (successParam === "true") {
    Swal.fire({
        title: "Success!",
        text: "Patient's information has been updated.",
        icon: "success"
    });
}
});

   

</script>
