                                @{
                                ViewData["Title"] = "Save";
                                Layout = "_Layout";
                                }
                                @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
                                @addTagHelper *, Cloudscribe.Web.Pagination

                                @model hospitalVm.timingshiftVm

<link href="~/css/timsiftingsave.css" rel="stylesheet" />
                             
<partial name="_AlertMessage" />

                                <div class="container mt-5 glass-container col-md-7">
                                <div class="row justify-content-center">
                                <div class="col-md-12">
                                <h1>Mange Shift </h1>

                                <form asp-action="Save" method="post" id="saveform">
                                <input type="hidden" asp-for="id" />
                                <input type="hidden" asp-for="applicatinUserdictorid" />



                  <div class="form-row">


                                <div class="form-group col-4">
                                <input asp-for="doctorName" class="glass-input" readonly/>
                                </div>
                                <div class="form-group">
                                <input asp-for="startshift" class="glass-input" placeholder="Inter startshift" />
                                </div>
                </div>
                                <div class="form-row">



                    <div class="form-group col-4">
                        <input asp-for="Endsifit" class="glass-input" placeholder="Inter Endsifit" />
                    </div>


                    <div class="form-group col-4">
                        <input id="durationInput" asp-for="Duration " class="glass-input"
                               placeholder="Inter  Duraction Time" />



                                
                  

                                </div>
                                
                            
                            </div>

                                <div class="form-group col-8">
                                <select asp-for="Stutus" class="glass-select" asp-items="@ViewBag.avilabledoctoronsift" placeholder="chose stats">
                                <option value="">Select Status</option>
                                @foreach (var item in ViewBag.avilabledoctoronsift)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                                </select>
                                </div>
                                <div class="button-group">
                    <button type="submit" class="btn btn-primary">
                        @if (Model != null && Model.id > 0)
                        {
                            <text>Edit</text>
                        }
                        else
                        {
                            <text>Add new</text>
                        }
                    </button> 
                                <a asp-area="Admin" asp-controller="TimingShifts" asp-action="Index" class="btn btn-secondary mt-2">
                                <i class="fas fa-chevron-circle-left"></i> Back to Index
                                </a>
                                </div>
                                </form>
                                </div>
                                </div>
                                </div>
                                
@section Scripts {

<script src="~/js/timesiftingsave.js"></script>}